body {
    background-color: rgb(202, 193, 216);
    margin: 0;
    padding: 20px;
    text-align: center;
    
}

.run-js-button{
    margin: 0;
    padding: 15px;
    background-color: rgb(61, 13, 173);
    text-align: center;
    text-decoration: indigo;
    font-size: small;
    
}

